@model IEnumerable<CrudMVCApp.Models.Pedido>
@{
    ViewData["Title"] = "Pedidos";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<h2>Listado de Pedidos</h2>

<div style="margin-bottom: 20px;">
    <a class="btn btn-primary" asp-controller="DetallePedido" asp-action="AgregarDetalle">Agregar Pedido</a>
</div>
<form asp-controller="Pedido" asp-action="Index" class="d-flex mb-2" role="search">
    <input type="text" name="buscar" class="form-control form-control-sm me-2 w-auto" placeholder="Buscar pedido..." />
    <button type="submit" class="btn btn-sm btn-primary">
        <i class="bi bi-search"></i>
    </button>
</form>



<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Usuario</th>
            <th>Cant Productos</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.Persona?.Nombre</td>
                <td>@pedido.Usuario?.user</td>
                <td>@pedido.cantidadProductos</td>
                <td>$@pedido.Total</td>
                <td>
                    <form asp-controller="DetallePedido" asp-action="VerDetalle" method="post">
                        <input type="hidden" name="id" value="@pedido.Id" />
                        <button type="submit" class="btn btn-outline-info">Detalle</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
