@{
    ViewData["Title"] = "Home Page"; 
}

@{
    ViewData["Title"] = "Personas"; 
}
<h1>Trabajo Práctico Integrador - Programación III</h1>
<ul>
    <strong>Alumnas:</strong>
    <li>
        Amaro Mara
    </li>
    <li>
        Gorreta Carola
    </li>
    <li>
        Casaz Candela
    </li>
</ul>